<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
		{{!-- {{admin-lte-user-panel}} --}}
    
    {{admin-lte-searchmenu}}
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Pages</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li>{{#link-to "dashboard"}}<span>Dashboard</span>{{/link-to}}</li>
            <li>{{#link-to "boxes"}}<span>Boxes</span>{{/link-to}}</li>
            <li>{{#link-to "test"}}<span>test</span>{{/link-to}}</li>
            <li><a href="#">Room 2</a></li>
            <li><a href="#">Room 3</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Automation</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="#">Rules</a></li>
            <li><a href="#">Variables</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Log</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="#">Messages</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="#">Devices</a></li>
            <li><a href="#">Groups</a></li>
            <li>{{#link-to "system"}}<span>System settings</span>{{/link-to}}</li>
          </ul>
        </li>
        <li class="treeview">          
          <a href="#"><i class="fa fa-link"></i> <span>User</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="#">Logout</a></li>
          </ul>

        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>