<!-- row -->
<div class="row">
  <div class="col-xs-12">
    <!-- jQuery Knob -->
    <div class="box box-solid">
      <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Server status</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-xs-4 col-md-4 col-sm-4 text-center">
          {{ember-knob
             value= data.load 
             min="0" 
             max="100" 
             width="90" 
             height="90" 
             thickness="0.35" 
             angleOffset="-125" 
             angleArc="250" 
             displayInput="true" 
             displayPrevious="false" 
             lineCap="round" 
             readOnly="true" 
             inputColor = "#3c8dbc"
             fgColor="#3c8dbc" 
             bgColor="#EFEEEE"

        }}
            
            <div class="knob-label">
            MCU usage
            </div>
          </div>
          <!-- ./col -->
          <div class="col-xs-4 col-md-4 col-sm-4 text-center">
          
        {{ember-knob
             value= data.usage
             min="0" 
             max=data.heap 
             width="90" 
             height="90" 
             thickness="0.35" 
             angleOffset="-125" 
             angleArc="250"
             displayInput="true" 
             displayPrevious="false" 
             lineCap="round"
             readOnly="true" 
             inputColor="#f56954" 
             fgColor="#f56954" 
             bgColor="#EFEEEE" 
        }}
            <div class="knob-label">
            Memory usage
            </div>
          </div>
          <!-- ./col -->
          <div class="col-xs-4 col-md-4 col-sm-4 text-center">
        {{ember-knob
             value= data.temperature 
             min="0" 
             max="100" 
             width="90" 
             height="90" 
             thickness="0.35" 
             angleOffset="-125" 
             angleArc="250" 
             displayInput="true" 
             displayPrevious="false" 
             lineCap="round" 
             readOnly="true" 
             inputColor="#f56954" 
             fgColor="#f56954" 
             bgColor="#EFEEEE" 
        }}          
            <div class="knob-label">
            MCU temperature
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
       <div class="box-footer">
          <div class = "cpu">
            <div class="uid">
            UUID: {{data.uid}}
            </div>
          </div>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
