<div class="info-box">
  <span class="info-box-icon bg-{{color}}"><i class="{{icon}}"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">{{name}}</span>
    <span class="info-box-number">{{yield}}</span>
  </div>
</div>