<html>
<head>

</head>
<body class="skin-blue">
<div class="wrapper">
    {{admin-lte-header}}
    <nav class="sidebar-wrapper">
        {{admin-lte-sidemenu}}
    </nav>
    <section class="content-wrapper">
        {{outlet}}

    </section>
    {{admin-lte-footer}}
</div>

</body>
</html>