<div class="row">
  <div class="col-xs-6 col-md-4">
      {{#statistics-box name="Foo Bar" color="aqua" icon="fa fa-github-alt"}}100%{{/statistics-box}}
  </div>
  <div class="col-xs-6 col-md-4">
      {{#statistics-box name="Rebels" color="yellow" icon="fa fa-rebel"}}1210{{/statistics-box}}
  </div>
  <div class="col-xs-6 col-md-4">
      {{#statistics-box name="Stormtroopers" color="green" icon="fa fa-empire"}}11{{/statistics-box}}
  </div>
</div>