<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Состояние
    <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    {{cpu-boxes data = model.cpu}}
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable ui-sortable">
      {{server-box data = model.cpu}}
        <!-- row -->
      </section>
      <section class="col-lg-6 connectedSortable ui-sortable">
  <!-- row -->
        {{sensors-boxes sensors = model.sensors}}

      </section>
    </div>
  </section>
  <!-- /.content -->